
// Header
.layout-header{
  position: fixed;
  z-index:2;
  width:100%;
  height:px-to-rem(50px);
  background-color: #000;

  @media (min-width: $mqDesktopWidth){
    justify-content:center
  }
}


// Cover
.layout-cover{
  position: relative;
  display:flex;
  flex-direction: column;
  width: 100%;
  min-height:px-to-rem(380px);
  margin-top: px-to-rem(50px);
  background-image: url("/src/assets/images/vic.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


// Content & Content__Section
.layout-content{
  display:flex;
  flex-direction:column;
  max-width: px-to-rem(1000px);

  &__section{
    margin-top: 2rem;
  }
}


// Footer
.layout-footer{
  width:100%;
  min-height: px-to-rem(300px);
  margin-top: 10rem;
  background: url("/src/assets/images/silueta.png");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $mqDesktopWidth){
    background-size: cover;;
  }


  &__content{
    width: 100%;
    max-width: px-to-rem(1000px);
    padding-bottom: 5rem;
    margin: auto;
    margin-top: 20%;

    @media (min-width: $mqDesktopWidth) {
      margin-top: 17rem;
    }    

    &__text{
      text-align: center;
    }
  }
}

