<footer class="layout-footer">
    <div class="layout-footer__content">
        
        <p class="layout-footer__content__text">Alumne: Nicolau Daniel Roca Busacker</p>
        <p class="layout-footer__content__text">Assignatura: Eines HTML i CSS II</p>
        <p class="layout-footer__content__text">2024</p>
        <p class="atribucions">Recursos utilitzats:</p>
        

        <div class="splide atribution-gallery" role="group">
            <div class="splide__track">
                  <ul class="splide__list">
                    <li class=" splide__slide">
                        <div>
                            <figure class="">
                                <img class="atribution-image" src="/src/assets/images/vic.jpg" alt="Imatge de la plaça de vic">
                                <figcaption><a href="https://commons.wikimedia.org/wiki/File:Main_square_of_Vic_-_Barcelona_-_Catalunya_-_Spain_-_panoramio.jpg">Wikipedia commons</a> | Autor: diego_cue | <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-SA 3.0</a></figcaption>
                            </figure>
                            
                        </div>
                    </li>
                    <li class=" splide__slide">
                        <div>
                            <figure class="">
                                <img class="atribution-image"  src="/src/assets/images/bellmunt.jpg" alt="Imatge del Santuari de Bellmunt">
                                <figcaption><a href="https://commons.wikimedia.org/wiki/File:Bellmunt.JPG">Wikipedia commons</a> | Autor: Victor molas | <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-SA 3.0</a></figcaption>
                            </figure>
                            
                        </div>
                    </li>
                    <li class=" splide__slide">
                        <div>
                            <figure class="">
                                <img class="atribution-image"  src="/src/assets/images/46836939101_66f639b064_b.jpg" alt="Imatge de la plana de vic">
                                <figcaption><a href="https://www.flickr.com/photos/joanbrebo/46836939101/">Flickr</a> | Autor: Joanbrebo | <a href="https://creativecommons.org/licenses/by-nc/2.0/">CC BY-NC 2.0 </a></figcaption>
                            </figure>
                            
                        </div>
                    </li>
                    <li class=" splide__slide">
                        <div>
                            <figure class="">
                                <img class="atribution-image"  src="/src/assets/images/Relleu_tabular_de_Cabrera.jpg" alt="Imatge del santuari de cabrera">
                                <figcaption><a href="https://commons.wikimedia.org/wiki/File:Relleu_tabular_de_Cabrera.jpg">Wikipedia commons</a> | Autor: EnRutx | <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-NC 2.0</a></figcaption>
                            </figure>
                            
                        </div>
                    </li>
                    <li class=" splide__slide">
                        <div>
                            <figure class="">
                                <img class="atribution-image"  src="/src/assets/images/free-photo-of-round-sausage-in-close-up-view.jpg" alt="Imatge d'un embotit">
                                <figcaption><a href="https://www.pexels.com/es-es/foto/carne-delicioso-salchicha-cerdo-26707587/">Pexels</a> | Autor: Towfiqu barbhuiya | <a href="https://creativecommons.org/public-domain/cc0/">CC0</a></figcaption>
                            </figure>
                            
                        </div>
                    </li>
                    <li class=" splide__slide">
                        <div>
                            <figure class="">
                                <img class="atribution-image"  src="/src/assets/images/forest-fog-nature-winter-45222.jpg" alt="Imatge d'un paissatge amb boira">
                                <figcaption><a href="https://www.pexels.com/photo/mountain-with-green-leaved-trees-surrounded-by-fog-during-daytime-45222/">Pexels</a> | Autor: Pexels | <a href="https://creativecommons.org/public-domain/cc0/">CC0</a></figcaption>
                            </figure>
                            
                        </div>
                    </li>
                    <li class=" splide__slide">
                        <div>
                            <figure class="">
                                <img class="atribution-image"  src="/src/assets/images/Fageda_d'en_Jordà_seen_by_Wiros_10.jpg" alt="Imatge d'una boleta a una fageda">
                                <figcaption><a href="https://commons.wikimedia.org/wiki/File:Fageda_d%27en_Jord%C3%A0_seen_by_Wiros_10.jpg">Wikipedia commons</a> | Autor: Wiros | <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-NC 2.0</a></figcaption>
                            </figure>
                            
                        </div>
                    </li>
                    <li class=" splide__slide atribution-dependencies">
                        <div>
                            <a href="https://fontawesome.com">Fontawesome</a> | sota la llicència: <a href="https://creativecommons.org/licenses/by/4.0"> CC BY 4.0</a>
                        </div>
                    </li>
                    <li class=" splide__slide atribution-dependencies">
                        <div>
                            <a href="https://michalsnik.github.io/aos/">AOS</a> | sota la llicència: <a href="https://opensource.org/license/mit"> MIT licence - opensource</a>      
                        </div>
                    </li>
                    <li class="splide__slide atribution-dependencies">
                        <div>
                            <a href="https://splidejs.com/">splidejs</a> | sota la llicència: <a href="https://opensource.org/license/mit"> MIT licence - opensource</a>      
                        </div>
                    </li>
                  </ul>
            </div>
          </div>
    </div>



    <!-- &copy; Universitat Oberta de Catalunya -->
</footer>