<header class="layout-header">    
    <div class="header__bars-menu" onclick="toggleClass('left-menu', 'left-menu--is-collapsed')"><i class="fa-solid fa-bars fa-2x"></i></div>
        <nav>
            <ul class="flex-list flex-list--center nav__menu">
                <div class="nav__menu-logo logo"><a class="white-text highlight-text text-underline" href="#">Sobre la plana</a></div>
                <li class="nav__menu-item"><a class="white-text" href="#sobre">Presentació</a></li>
                <li class="nav__menu-item"><a class="white-text" href="#bellmunt">Bellmunt</a></li>
                <li class="nav__menu-item"><a class="white-text" href="#cabrera">Cabrera</a></li>
            </ul>
        </nav>
</header>