<header class="header">    
    <div class="header__burguer-menu" onclick="toggleClass('left-menu', 'left-menu--collapsed')"><i class="fa-solid fa-bars fa-3x"></i></div>
            <ul class="flex-list flex-list--center nav__menu">
                <div class="nav__menu-logo">logo</div>
                <li class="horizontal-list nav__menu-item"><a class="white-text" href="#Sobre">Sobre la Plana</a></li>
                <li class="horizontal-list nav__menu-item"><a class="white-text" href="#Bellmunt">Bellmunt</a></li>
                <li class="horizontal-list nav__menu-item"><a class="white-text" href="#Cabrera">Cabrera</a></li>
            </ul>
</header>