<div class="left-menu left-menu--collapsed" id="left-menu">
    <div class="header__burguer-menu" onclick="toggleClass('left-menu', 'left-menu--collapsed')"><i class="fa-solid fa-bars fa-3x"></i></div>
    <ul class=".nav__menu--vertical">
        <li class=".nav__menu-item--vertical"><a href="#Cims">Sobre la Plana de Vic</a></li>
        <li class=".nav__menu-item--vertical"><a href="#Bellmunt">Bellmunt</a></li>
        <li class=".nav__menu-item--vertical"><a href="#Puigsacalm">Puigsacalm</a></li>
        <li class=".nav__menu-item--vertical"><a href="#Cabrera">Cabrera</a></li>
        <li class=".nav__menu-item--vertical"><a href="#Galeria">Curiositats</a></li>
    </ul>
</div>