<div class="left-menu left-menu--is-collapsed" id="left-menu">
    <div class="header__bars-menu" onclick="toggleClass('left-menu', 'left-menu--is-collapsed')"><i class="fa-solid fa-bars fa-2x"></i></div>
    <nav>
        <ul class="nav__menu--vertical">
            <div class="nav__menu-logo" onclick="toggleClass('left-menu', 'left-menu--is-collapsed')"><a class="white-text highlight-text text-underline" href="#">Sobre la plana</a></div>
            <li class="nav__menu-item--vertical" onclick="toggleClass('left-menu', 'left-menu--is-collapsed')"><a href="#sobre">Presentació</a></li>
            <li class="nav__menu-item--vertical" onclick="toggleClass('left-menu', 'left-menu--is-collapsed')"><a href="#bellmunt">Bellmunt</a></li>
            <li class="nav__menu-item--vertical" onclick="toggleClass('left-menu', 'left-menu--is-collapsed')"><a href="#cabrera">Puigsacalm</a></li>
        </ul>
    </nav>
</div>