

//Cover
.cover{

  &__title{
    position: absolute;
    z-index:1;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width:100%;
    height:100%;
    margin: 0;
    margin-top: 90px;
    color:#fff;
    @media (min-width: $mqMinWidth) {
      align-items:center;
      color:#000
    }
    &--underlined{
      text-decoration: underline;
    }
  }
}

.flex-list{
  display: flex;
  gap: 1rem;
  &--center{
    align-items: center;
    justify-content: center;
  }
  &--wrap{
    flex-wrap: wrap;
  }
}

.nav__menu{
  height:100%;
  max-height:$maxWidth;
  @media(max-width: $mqDesktopWidth){
    display:none;
  }
  
  &--vertical{ //menú lateral per la versió mòbil
    margin-top: 90px;
  }
}

.nav__menu-item{
  padding: 0 2rem;
  font-size: 1.3rem;
  color:#fff;
  text-align: center;
  background-color: #000;
  border-radius:.5rem;
  &--vertical{
    padding: 2rem;
    margin-top: .1rem;
    background: rgba(0, 255, 255, 0.4);
  }
}

.nav__menu-logo{
  color: yellow;
}

.section{
  &__title{
    text-align: center;
  }
  &__text{
    width: 50%;
    margin: 2rem auto 4rem auto;
    text-align: center;
  }

  &__figure{
    margin-top:3rem;
    text-align: center;
  }
  
  &__image{
    width:80%;
    border-radius: 3rem;
    @media(max-width: $mqMinWidth){
      width:100%;
      border-radius: 0;
    }
  }
}

.card{
  display: flex;
  .card__title{
    width:100%;
    text-align:center;
  }
}





  
.header__burguer-menu{
  display: flex;
  align-items: center;
  width: 33%;
  height:50px;
  padding-left: 3rem;
  @media (min-width: $mqDesktopWidth) {
    display:none;
  }
}


.info-card{
  width: 90%;
  overflow:hidden;
  background-position: center;
  background-size: cover;
  border: solid 1px #fff;
  border-radius: 1rem;
  @media (min-width: $mqMinWidth){
    width: 250px;
    aspect-ratio:1;
  }

  &--active{
    aspect-ratio: 1;
    @media(max-width: $mqMinWidth){
      box-shadow: #cdb970 0px 0px 20px 2px;
    }
  }

  &__title{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    height:100%;
    padding: 2rem 0;
    background: rgba(0, 0, 0, 0.7);
    &--active{
      display:none;
    }
    @media (min-width: $mqMinWidth){
      display:none;
    }
  }

  &__text{
    width: 100%;
    height:100%;
    padding: 1rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    @media(max-width: $mqMinWidth){
      display:none;
    }
    &--active{
      display: flex;
    } 
  }
  &--entorn{
    background-image: url("/src/assets/images/Fageda_d\'en_Jordà_seen_by_Wiros_10.jpg");
  }
  &--clima{
    background-image: url("/src/assets/images/forest-fog-nature-winter-45222.jpg");
  }
  &--gastronomia{
    background-image: url("/src/assets/images/free-photo-of-round-sausage-in-close-up-view.jpg");
  }
}

.left-menu{
  position: fixed;
  top:0;
  left: 0;
  z-index:2;
  width: 80%;
  height: 100vh;
  overflow:hidden;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
  box-shadow: 1px 0px 20px 0px #000;
  transition:.2s;
  &--collapsed{
    width:0%;
  }
}

// .header__menu{
//   display:none;
//   width:100%;
//   @media (min-width: $mqDesktopWidth) {
//     display:block;
//     width:100%;
//   }
// }

// .place__container{
//   width: 100%;
// }

.place-card{
  position:relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding-bottom: 2rem;
  margin:.3rem auto 2rem;
  overflow: hidden;
  border: solid 1px #fff;
  border-radius: 3rem;
  @media (min-width: $mqDesktopWidth) {
    flex-direction:row;
    margin-top:15rem;
    overflow: visible;
    border:none;
  }

  &__cover{
    width:100%;
    @media (width: $mqDesktopWidth) {
      width: 80%;
      margin-right: 7rem;
      border-radius: 2rem;
    }
  }

  &__img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    @media (min-width: $mqDesktopWidth) {
      width:100%;
      height:auto;
      border-radius:5rem;
    }
  }

  &__content{
    @media (min-width: $mqDesktopWidth) {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 30%;
      padding-bottom: 2rem;
      margin: .3rem auto 2rem;
      background: linear-gradient(145deg, #0022f333 0, #0000 55%);
      backdrop-filter: blur(4px);

      &--align-left{
        left:40px;
      }

      &--align-right{
        right:40px;
      }
    }
  }

  &__title{
    padding: 0 2rem;
    line-height: 1.5rem;
    text-align:center;
  }

  &__text{
    padding: 0 3rem;
    text-align: center;
  }

  &__icones{
    width: 100%;
    margin: 2rem auto 1rem auto;
    font-size: 3rem;
    text-align: center;
  }
}

.fog-effect-container{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  opacity: .8;

  img{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: fog_effect calc(3s * var(--i)) ease-in infinite;
  }
}

@keyframes fog_effect {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  25%,
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(10);
  }
}



