
.text-underline{
  text-decoration: underline;
}

.highlight-text{
  font-family: "Spectral", serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
}

.justify-right{
  justify-content:right;
}

.block{
  display:block;
}